@font-face{
    font-family: headerfont;
    src:url(fonts/Brotherhood.ttf);
}
body{
    background-color:rgba( 136, 154, 185, 0.463 );
    overflow-y: scroll;
}
.container{
    padding: 0 0 0 0;
}
/*--------------------header---------------------*/
.header{
    font-family: headerfont;
    font-size: 5em;
    text-align: center;
    letter-spacing: .09em;
    background-color:#a1b2c7;
    color: #fff;
    margin: 1em 0 0 0;
    height: 1.5em;
}
.header a{
    text-decoration: none;
}
.header a{
    margin: 0 0 0 0;
    text-decoration: none;
    color: white;
}
/*--------------------Nav Bar---------------------*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar{
    margin: 0 0 0 0;
    border-radius: 0;
    background-color: #a1a1a1;
}
#navbar a{
    color: #fff;
}
.navbar-toggle{
    background-color: none;
    
}
.icon-bar{
    background-color: white;
}
/*--------------------RRR---------------------*/
.massage1{
    width: 100%;
}

/*--------------footer--------------------*/
.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #a1b2c7;
    text-align: center;
}
.footer p{
    position: relative;
    padding-top: 1.5%;
    color: rgba( 255, 255, 255, 0.931 );
    
}


/*-----------------About---------------*/
.about{
    background-color: #f6f6f7; 
    padding: 0 10px 0 10px;
    color: #55557b;
    
}
#about{
    margin: 40px 10px 40px 0;
}
.lead{
    margin: 0 10px 10px 10px;
    font-family: sans-serif;
    font-size: 1.7em;
}
.massage2{
    border-radius: 100%;
}


/*-----------------Services---------------*/

.services {
    background-color: #f6f6f7; 
}
.services .Serivcesinfo{
    margin-top: 40px;
    text-align: center;
}
.services .Serivcesinfo h2{
    color: #55557b;
}
.services .Serivcesinfo p{
    margin-top: -5px;
    padding: 0 10px 10px 10px;
    font-size: 1.3em;
    font-family: sans-serif;
    color: #55557b;
}
.Serivcesinfo .img-circle{
    opacity: 0.75;
}

/*-----------------FAQ's---------------*/
#FAQ{
    background-color: #f6f6f7; 
}
.borderbot{
position: relative;
bottom: 18px;
font-family: Helvetica;
font-size: 1.2em;
color: #3D5B7D;
border-bottom: 1px solid rgba( 68, 63, 63, 0.276 );
}
.Faq1, .borderbot{
    padding: 10px 10px;
}
.Faq1{
    font-family: Helvetica;
    font-size: 1.3em;
    color: #55557b;
}

/*-----------------Contact---------------*/
.contact{
    background-color: #f6f6f7;
    text-align: center;
}
.ContactMessage h1{
    font-family: Helvetica;
    font-size: 2.4em;
    color: #55557b;
}
.ContactMessage p{
    font-family: Helvetica;
    font-size: 1.9em;
    color: #55557b;

}
#map{
    margin-bottom: 2em;
}



